/* font-family: 'Allison', cursive;
font-family: 'Gentium Basic', serif;
font-family: 'Mate SC', serif; */

:root {
  --light: #eee8e8;
  --darkbg: #252333;
}

#header {
  background-image: url("https://uploads-ssl.webflow.com/5ec207a448d573153616868a/60e32bdbc05d815a7368622e_Mesh%2035.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: aliceblue;
  border-bottom: 3px blanchedalmond solid;
}

#search-container {
  width: 30%;
  margin-left: -0.5rem;
  box-shadow: inset 5px 0 5px -5px #29627e;
}

#search-btn {
  color: #282aa7;
  border-color: #282aa7;
}

#search-btn:hover {
  background-color: #282aa7;
  color: aliceblue;
}

#nav-style {
  border-bottom: 1.5px rgb(82, 79, 79) solid;
}

#current-weather-container {
  width: 70%;
  border: 1.5px var(--darkbg) solid;
  margin-left: 2rem;
  margin-right: 2rem;
}

.weather-card {
  background-color: var(--darkbg);
  color: var(--light);
  width: 25vw;
}

/* .hidden {
  display: none;
} */

.city-button {
  color: aliceblue !important;
  background-color: #0d3f80 !important;
}

.city-button:hover {
  color: aliceblue !important;
  background-color: #0e2e58 !important;
}

.todays-forecast {
  max-height: auto;
}
